name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Install Eependencies
      run: sudo apt-get update && sudo apt-get install libsfml-dev libx11-dev

    - name: make
      run: make
